layout: index
description: Distributed Event Sourcing & CQRS framework
subtitle: Distributed Event Sourcing & CQRS framework
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-link
      h3.intro-feature-title Reap the benefits of event sourcing
      p.intro-feature-desc Easily access data at any version or point in time, trace changes, provide feeds and data for analytics.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-life-ring
      h3.intro-feature-title Simplified
      p.intro-feature-desc DDES aims to minimize the effort required to develop and operate your Event Sourcing/CQRS based system.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Highly available, secure & scalable
      p.intro-feature-desc DDES exploits the characteristics of its backing cloud services to provide highly available and secure data storage with horizontal auto scaling.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-github
      h3.intro-feature-title Open Source
      p.intro-feature-desc DDES is open source software, released under the MIT license. The source code is available on #[a(href="https://github.com/Skalar/ddes") GitHub].
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-database
      h3.intro-feature-title Keep your data safe
      p.intro-feature-desc DynamoDB provides automatic continuous backup with per-second granularity point-in-time restores.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-heart
      h3.intro-feature-title Perfect for GraphQL
      p.intro-feature-desc The distributed nature of DDES and its event streaming support, make it a good fit for graphql servers like #[a(href="https://www.apollographql.com/docs/apollo-server/") Apollo], including GraphQL subscriptions.

