layout: index
description: ddbes is a scalable javascript framework for distributed event sourcing powered by cloud services such as AWS.
subtitle: Distributed Event Sourcing & CQRS framework
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Fast, secure & scalable
      p.intro-feature-desc DDES exploits the characteristics of its backing cloud services, such as AWS DynamoDB and S3, to provide easy horizontal scaling.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-database
      h3.intro-feature-title Automatic continuous backup
      p.intro-feature-desc DynamoDB provides automatic continuous backup with per-second granularity point-in-time restores.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Easy to use
      p.intro-feature-desc DDES tries to eliminate hassle and automate whereever possible, without getting in your way.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Perfect fit for GraphQL
      p.intro-feature-desc The distributed nature of DDES and its event streaming support, make it a good fit for graphql servers like Apollo.

